{% extends 'core/base.html' %}

{% block contenido %}
    <main>
        <p class="text-center display-4 fw-bold mt-4">Artistas</p>
        <div class="contenedor_general_tarjeta mt-0">
            {% for i in arte %}
            <div class="contenedor_tarjeta">
                <a href="#">
                    <figure id="tarjeta">         
                            <img src="{{ i.imagenArtista.url }}" class="frontal" alt="">
                        <figcaption class="trasera">
                            <h2 class="titulo">{{i.nombreArtista}}</h2>
                            <hr>
                            <p>{{ i.descripcionArtista }}</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            {% endfor %}
    
            
    </main>

    {% endblock %} 
